In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from scipy import stats
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, mean_squared_error, mean_absolute_error
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsRegressor
import m2cgen as m2c 
import warnings                        # To ignore any warnings
warnings.filterwarnings("ignore")

In [2]:
joined_zips_grb_df = pd.read_csv("zips_load_demographics.csv")

In [3]:
#all_zips_df = pd.read_csv("full_zip_codes.csv")

In [4]:
#all_zips_df.head()

In [5]:
#len(all_zips_df)

In [6]:
#len(joined_zips_grb_df)

In [7]:
#joined_zips_grb_df.head()

In [8]:
joined_zips_grb_df = joined_zips_grb_df.dropna()
joined_zips_grb_df.head()

,ZIP,load_weight,TOTAL_POPULATION,TOTAL_HOUSEHOLDS,MEDIAN_HOUSEHOLD_INCOME,MEAN_HOUSEHOLD_INCOME,TOTAL_HOUSING_UNITS
0,78617,1325600.0,27900.0,6520.0,52819.0,69936.0,7244.0
1,78653,825420.0,20822.0,6332.0,66752.0,75678.0,6891.0
2,78701,458460.0,7875.0,4855.0,112201.0,173289.0,6576.0
3,78702,3741320.0,22876.0,8937.0,54053.0,73919.0,9839.0
4,78703,3671428.0,20788.0,9723.0,98553.0,166396.0,11047.0

In [9]:
len(joined_zips_grb_df)

37

In [10]:
joined_zips_grb_df["POPULATION_PER_UNIT"] = joined_zips_grb_df.TOTAL_POPULATION/joined_zips_grb_df.TOTAL_HOUSING_UNITS
joined_zips_grb_df.head()

,ZIP,load_weight,TOTAL_POPULATION,TOTAL_HOUSEHOLDS,MEDIAN_HOUSEHOLD_INCOME,MEAN_HOUSEHOLD_INCOME,TOTAL_HOUSING_UNITS,POPULATION_PER_UNIT
0,78617,1325600.0,27900.0,6520.0,52819.0,69936.0,7244.0,3.851463
1,78653,825420.0,20822.0,6332.0,66752.0,75678.0,6891.0,3.021622
2,78701,458460.0,7875.0,4855.0,112201.0,173289.0,6576.0,1.197536
3,78702,3741320.0,22876.0,8937.0,54053.0,73919.0,9839.0,2.325033
4,78703,3671428.0,20788.0,9723.0,98553.0,166396.0,11047.0,1.881778

In [11]:
joined_zips_grb_df["LOAD_PER_CAPITA"] = joined_zips_grb_df.load_weight/joined_zips_grb_df.TOTAL_POPULATION
joined_zips_grb_df.head()

,ZIP,load_weight,TOTAL_POPULATION,TOTAL_HOUSEHOLDS,MEDIAN_HOUSEHOLD_INCOME,MEAN_HOUSEHOLD_INCOME,TOTAL_HOUSING_UNITS,POPULATION_PER_UNIT,LOAD_PER_CAPITA
0,78617,1325600.0,27900.0,6520.0,52819.0,69936.0,7244.0,3.851463,47.512545
1,78653,825420.0,20822.0,6332.0,66752.0,75678.0,6891.0,3.021622,39.641725
2,78701,458460.0,7875.0,4855.0,112201.0,173289.0,6576.0,1.197536,58.217143
3,78702,3741320.0,22876.0,8937.0,54053.0,73919.0,9839.0,2.325033,163.547823
4,78703,3671428.0,20788.0,9723.0,98553.0,166396.0,11047.0,1.881778,176.612854

In [12]:
#features = ['TOTAL_POPULATION', 'TOTAL_HOUSEHOLDS', 'MEDIAN_HOUSEHOLD_INCOME', 'TOTAL_HOUSING_UNITS', 'POPULATION_PER_UNIT']
features = ['TOTAL_POPULATION', 'TOTAL_HOUSEHOLDS', 'MEDIAN_HOUSEHOLD_INCOME', 'TOTAL_HOUSING_UNITS']
# Separating out the features
x = joined_zips_grb_df.loc[:, features]
# Separating out the target
#y = joined_zips_grb_df.loc[:,['load_weight']]
# Standardizing the features
ss = StandardScaler().fit(x)
X = ss.transform(x)

In [13]:
# Apply principal component analysis
#pca = PCA(n_components=3)
#pca.fit(X)
#principalComponents = pca.fit(x)
#PCA_df = pd.DataFrame(data = principalComponents, columns = ['PRINCIPAL_COMPONENT_1', 'PRINCIPAL_COMPONENT_2'])

In [14]:
#pca.components_

In [15]:
#pd.DataFrame(pca.components_, columns=features)

In [16]:
#X_reduced = pca.transform(X)

In [17]:
#X_reduced

In [18]:
#knn = KNeighborsRegressor(n_neighbors=3, weights= 'uniform')

In [19]:
#all_zips_df["POPULATION_PER_UNIT"] = all_zips_df.TOTAL_POPULATION/all_zips_df.TOTAL_HOUSING_UNITS
#all_zips_df.head()

In [20]:
#T = all_zips_df.loc[:, features]

In [21]:
#T_reduced = pca.transform(ss.transform(T))

In [22]:
# Split data into training and testing sets
#X_train,X_test,y_train,y_test = train_test_split(X_reduced,joined_zips_grb_df["LOAD_PER_CAPITA"],random_state=1)

In [23]:
# Use K-nearest-neighbors method to fit data
#model = knn.fit(X_train, y_train)

In [24]:
#y_pred = model.predict(X_test)

In [25]:
#score = mean_absolute_error(y_pred,y_test)

In [26]:
#print(score)

In [27]:
#percent_error = ((abs(y_pred - y_test)/abs(y_test)).mean())*100.

In [28]:
#print(percent_error)

In [29]:
#pca.explained_variance_ratio_

In [30]:
#all_zips_df['PREDICTED_TRASH_OUTPUT_PER_CAPITA (TONS)'] = model.predict(T_reduced)

In [31]:
#all_zips_df['PREDICTED_TRASH_OUTPUT_PER_CAPITA (TONS)'] = all_zips_df['PREDICTED_TRASH_OUTPUT_PER_CAPITA (TONS)'].astype(int)

In [32]:
#all_zips_df["ACTUAL_TRASH_OUTPUT_PER_CAPITA"] = joined_zips_grb_df['LOAD_PER_CAPITA']

In [33]:
#all_zips_df

In [34]:
# Drop outliers
#all_zips_df = all_zips_df.drop([9,23,24,28])

In [35]:
#all_zips_df['DIFFERENCE'] = abs(all_zips_df['PREDICTED_TRASH_OUTPUT_PER_CAPITA (TONS)'] - all_zips_df['ACTUAL_TRASH_OUTPUT_PER_CAPITA'])

In [36]:
#all_zips_df

In [37]:
def binned_trash(number_of_bins, dataSeries):
    bins = {}
    out = []
    min_value = dataSeries.min()
    max_value = dataSeries.max()
    mean_value = dataSeries.mean()

    for bin in range(0,number_of_bins):
        b_float_lower = float(bin)/float(number_of_bins)
        b_float_upper = float(bin+1.)/float(number_of_bins)
        bins[bin] = [min_value + b_float_lower * (max_value - min_value), min_value + b_float_upper*(max_value - min_value)]
    

    for row in dataSeries:
        for bin, bin_range in bins.items():
            if row <= bin_range[1] and row >= bin_range[0]:
                out.append(bin)

    return pd.Series(out), bins

In [38]:
joined_zips_grb_df

,ZIP,load_weight,TOTAL_POPULATION,TOTAL_HOUSEHOLDS,MEDIAN_HOUSEHOLD_INCOME,MEAN_HOUSEHOLD_INCOME,TOTAL_HOUSING_UNITS,POPULATION_PER_UNIT,LOAD_PER_CAPITA
0,78617,1325600.0,27900.0,6520.0,52819.0,69936.0,7244.0,3.851463,47.512545
1,78653,825420.0,20822.0,6332.0,66752.0,75678.0,6891.0,3.021622,39.641725
2,78701,458460.0,7875.0,4855.0,112201.0,173289.0,6576.0,1.197536,58.217143
3,78702,3741320.0,22876.0,8937.0,54053.0,73919.0,9839.0,2.325033,163.547823
4,78703,3671428.0,20788.0,9723.0,98553.0,166396.0,11047.0,1.881778,176.612854
5,78704,5156220.0,47158.0,23213.0,66262.0,91223.0,25815.0,1.826767,109.339243
6,78705,1606560.0,33075.0,8370.0,15309.0,41357.0,10336.0,3.199981,48.573243
7,78721,1374760.0,12447.0,4197.0,41611.0,52873.0,4632.0,2.687176,110.449104
8,78722,1471280.0,7254.0,3111.0,69267.0,95443.0,3415.0,2.124158,202.823270
9,78723,5984646.0,33170.0,12518.0,49606.0,71897.0,13777.0,2.407636,180.423455
10,78724,1139940.0,24833.0,6360.0,45158.0,55252.0,6754.0,3.676784,45.904240
11,78725,2732580.0,7517.0,2544.0,62172.0,66225.0,2598.0,2.893380,363.520021
12,78726,1595480.0,14610.0,5554.0,88322.0,122559.0,5998.0,2.435812,109.204654
13,78727,2422020.0,28999.0,12937.0,74458.0,88800.0,14029.0,2.067075,83.520811
14,78728,711120.0,21245.0,10029.0,55603.0,71409.0,10626.0,1.999341,33.472346
15,78729,2337494.0,29434.0,12622.0,73047.0,86587.0,13636.0,2.158551,79.414758
16,78730,693680.0,8933.0,3678.0,108750.0,183174.0,4019.0,2.222692,77.653644
17,78731,4038480.0,27447.0,12556.0,89099.0,140009.0,13476.0,2.036732,147.137392
18,78735,2042200.0,17919.0,7193.0,102551.0,155092.0,8176.0,2.191659,113.968413
19,78736,702800.0,8199.0,3023.0,107467.0,134565.0,3306.0,2.480036,85.717770
20,78739,6391660.0,20191.0,6367.0,147736.0,175189.0,6460.0,3.125542,316.559853
21,78741,2626560.0,52307.0,20758.0,39049.0,49856.0,23380.0,2.237254,50.214312
22,78744,7868620.0,48432.0,14345.0,47073.0,56407.0,15236.0,3.178787,162.467377
23,78745,11083500.0,62220.0,25857.0,60567.0,72944.0,27367.0,2.273541,178.134041
24,78746,2022960.0,28268.0,10848.0,136138.0,217305.0,11922.0,2.371079,71.563605
25,78747,4296600.0,20954.0,6364.0,79500.0,84070.0,6654.0,3.149083,205.049155
26,78748,8731680.0,49142.0,18820.0,74176.0,86175.0,19577.0,2.510191,177.682634
27,78749,7500640.0,37453.0,15215.0,92313.0,107483.0,15727.0,2.381446,200.268069
28,78750,3092740.0,30758.0,11713.0,81061.0,119690.0,12472.0,2.466164,100.550751
29,78751,1865020.0,14949.0,7463.0,54129.0,79620.0,8632.0,1.731812,124.758847
30,78752,2448520.0,20302.0,7932.0,41486.0,58935.0,8720.0,2.328211,120.604867
31,78753,5082710.0,58693.0,19947.0,45983.0,61853.0,21287.0,2.757223,86.598231
32,78754,4322388.0,23858.0,8009.0,64114.0,84433.0,8451.0,2.823098,181.171431
33,78756,1311900.0,8377.0,4246.0,73578.0,107864.0,4642.0,1.804610,156.607377
34,78757,4196720.0,24059.0,10746.0,65709.0,93055.0,11454.0,2.100489,174.434515
35,78758,6322950.0,46618.0,19397.0,50018.0,62838.0,21064.0,2.213160,135.633232
36,78759,6804600.0,41847.0,20240.0,76749.0,104404.0,21798.0,1.919763,162.606638

In [39]:
binned_load_per_capita, bins = binned_trash(3, joined_zips_grb_df['LOAD_PER_CAPITA'])

In [40]:
binned_load_per_capita.size

37

In [41]:
binned_load_per_capita

0     0
1     0
2     0
3     1
4     1
5     0
6     0
7     0
8     1
9     1
10    0
11    2
12    0
13    0
14    0
15    0
16    0
17    1
18    0
19    0
20    2
21    0
22    1
23    1
24    0
25    1
26    1
27    1
28    0
29    0
30    0
31    0
32    1
33    1
34    1
35    0
36    1
dtype: int64

In [42]:
bins

{0: [33.47234643445517, 143.48823805133247],
 1: [143.48823805133247, 253.5041296682098],
 2: [253.5041296682098, 363.5200212850871]}

In [43]:
#X = pd.DataFrame(X_reduced)
X = pd.DataFrame(X)

In [44]:
X.head()

          0         1         2         3
0  0.039070 -0.671284 -0.699580 -0.658071
1 -0.439705 -0.702146 -0.190288 -0.712127
2 -1.315476 -0.944613  1.471007 -0.760363
3 -0.300767 -0.274505 -0.654474 -0.260696
4 -0.442005 -0.145474  0.972133 -0.075713

In [45]:
# Split data into training and testing sets
X_train,X_test,y_train,y_test = train_test_split(X, binned_load_per_capita,random_state=1)

In [46]:
#RANDOM FORREST CLASSIFIER MODEL BEGINS
rf = RandomForestClassifier(random_state=1)

In [47]:
rf.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [48]:
model_to_javascript = m2c.export_to_javascript(rf)

In [49]:
with open("./model.js", "w") as f: 
    f.write(model_to_javascript)

In [51]:
print(y_train)

30    0
17    1
28    0
34    1
31    0
26    1
4     1
14    0
10    0
33    1
23    1
32    1
20    2
18    0
6     0
13    0
7     0
36    1
1     0
16    0
0     0
15    0
5     0
11    2
9     1
8     1
12    0
dtype: int64

In [52]:
X_test

           0         1         2         3
2  -1.315476 -0.944613  1.471007 -0.760363
29 -0.836971 -0.516479 -0.651696 -0.445525
3  -0.300767 -0.274505 -0.654474 -0.260696
22  1.427911  0.613282 -0.909613  0.565754
25 -0.430776 -0.696893  0.275689 -0.748419
27  0.685261  0.756102  0.744042  0.640941
21  1.690026  1.666051 -1.202914  1.812855
35  1.305207  1.442626 -0.801965  1.458203
19 -1.293559 -1.245357  1.297966 -1.261102
24  0.063963  0.039208  2.345976  0.058277

In [53]:
y_pred = rf.predict(X_test)

In [54]:
print(y_pred)

[1 0 0 0 0 1 0 0 1 1]

In [55]:
score = accuracy_score(y_test, y_pred)

In [56]:
print(score)

0.4

In [57]:
print(y_test)

2     0
29    0
3     1
22    1
25    1
27    1
21    0
35    0
19    0
24    0
dtype: int64

In [58]:
X_test

           0         1         2         3
2  -1.315476 -0.944613  1.471007 -0.760363
29 -0.836971 -0.516479 -0.651696 -0.445525
3  -0.300767 -0.274505 -0.654474 -0.260696
22  1.427911  0.613282 -0.909613  0.565754
25 -0.430776 -0.696893  0.275689 -0.748419
27  0.685261  0.756102  0.744042  0.640941
21  1.690026  1.666051 -1.202914  1.812855
35  1.305207  1.442626 -0.801965  1.458203
19 -1.293559 -1.245357  1.297966 -1.261102
24  0.063963  0.039208  2.345976  0.058277

In [59]:
#T_reduced

In [60]:
# all_pred = rf.predict(T_reduced)

In [61]:
all_zips_df["PREDICTED_BIN"] = all_pred
#print(len(all_zips_df))
all_zips_df["ACTUAL_BIN"] = [float("nan")]*len(all_zips_df)
all_zips_df["FINAL_OUTPUT"] = all_pred
bin_names = {0: "LOW", 1: "MEDIUM", 2: "HIGH"}
len(binned_load_per_capita)
print(binned_load_per_capita)
# Index tracking non Nan rows because binned_load_per_capita removes them from indexing
my_index = 0
for index,row in all_zips_df.iterrows():
    if not pd.isna(row["ACTUAL_TRASH_OUTPUT_PER_CAPITA"]):
        print(row["ACTUAL_TRASH_OUTPUT_PER_CAPITA"])
        # Goes to column 11 and assigns bin number
        all_zips_df.iloc[[index],[11]] = binned_load_per_capita[my_index]

        all_zips_df.iloc[[index],[12]] = bin_names[binned_load_per_capita[my_index]]
        my_index += 1
    else:
        all_zips_df.iloc[[index],[12]] = bin_names[all_pred[index]]

        print("NA")

NameError: name 'all_pred' is not defined

In [64]:
#all_zips_df

In [72]:
x_dashboard = [[50000, 300000, 80000, 81500]]

In [73]:
y_pred_dashboard = rf.predict(x_dashboard)

In [74]:
y_pred_dashboard

array([1])