In [6]:
import pandas as pd
import json

In [2]:
df = pd.read_csv("zip_codes.csv")

In [3]:
df

,ZIP,LOAD_WEIGHT,TOTAL_POPULATION,TOTAL_HOUSEHOLDS,MEDIAN_HOUSEHOLD_INCOME,MEAN_HOUSEHOLD_INCOME,TOTAL_HOUSING_UNITS,Unnamed: 7
0,78617,1325600,27900,6520,52819,69936,7244,NaN
1,78653,825420,20822,6332,66752,75678,6891,NaN
2,78701,458460,7875,4855,112201,173289,6576,NaN
3,78702,3741320,22876,8937,54053,73919,9839,NaN
4,78703,3671428,20788,9723,98553,166396,11047,NaN
5,78704,5156220,47158,23213,66262,91223,25815,NaN
6,78705,1606560,33075,8370,15309,41357,10336,NaN
7,78721,1374760,12447,4197,41611,52873,4632,NaN
8,78722,1471280,7254,3111,69267,95443,3415,NaN
9,78723,5984646,33170,12518,49606,71897,13777,NaN
10,78724,1139940,24833,6360,45158,55252,6754,NaN
11,78725,2732580,7517,2544,62172,66225,2598,NaN
12,78726,1595480,14610,5554,88322,122559,5998,NaN
13,78727,2422020,28999,12937,74458,88800,14029,NaN
14,78728,711120,21245,10029,55603,71409,10626,NaN
15,78729,2337494,29434,12622,73047,86587,13636,NaN
16,78730,693680,8933,3678,108750,183174,4019,NaN
17,78731,4038480,27447,12556,89099,140009,13476,NaN
18,78735,2042200,17919,7193,102551,155092,8176,NaN
19,78736,702800,8199,3023,107467,134565,3306,NaN
20,78739,6391660,20191,6367,147736,175189,6460,NaN
21,78741,2626560,52307,20758,39049,49856,23380,NaN
22,78744,7868620,48432,14345,47073,56407,15236,NaN
23,78745,11083500,62220,25857,60567,72944,27367,NaN
24,78746,2022960,28268,10848,136138,217305,11922,NaN
25,78747,4296600,20954,6364,79500,84070,6654,NaN
26,78748,8731680,49142,18820,74176,86175,19577,NaN
27,78749,7500640,37453,15215,92313,107483,15727,NaN
28,78750,3092740,30758,11713,81061,119690,12472,NaN
29,78751,1865020,14949,7463,54129,79620,8632,NaN
30,78752,2448520,20302,7932,41486,58935,8720,NaN
31,78753,5082710,58693,19947,45983,61853,21287,NaN
32,78754,4322388,23858,8009,64114,84433,8451,NaN
33,78756,1311900,8377,4246,73578,107864,4642,NaN
34,78757,4196720,24059,10746,65709,93055,11454,NaN
35,78758,6322950,46618,19397,50018,62838,21064,NaN
36,78759,6804600,41847,20240,76749,104404,21798,NaN

In [4]:
# Create wellname and date widgets to sort dataframe
zip_list = df['ZIP'].unique().tolist()

In [14]:
zip_list = df['ZIP']

In [16]:
zip_list.to_json("zip_code_list.json", orient="values")

In [11]:
type(jsonString)

str